<main role="main-home-wrapper" class="container">

        	

  <div class="row">

  

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

        <article role="pge-title-content">

            <header>

                <h2><span>Catalogo PRo</span> Nueva Empresa.</h2>

              </header>

              <p>Catalogo Catalogo Catalogo Catalogo Catalogo Catalogo Catalogo </p>

          </article>

      </section>

      

      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

        <figure class="effect-oscar">

            <img src="../../../assets/images/home-images/image-1.jpg" alt="" class="img-responsive"/>
            

              <figcaption>

                <h2>Eliana Dedda<span> Identity</span></h2>

                <p>Personal Brand Identity.</p>

                <a routerLink="/producto-detalle">View more</a>

              </figcaption>

          </figure>

      </section>

      

      <div class="clearfix"></div>

      

      <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

        <ul class="grid-lod effect-2" id="grid">

            <li>

                <figure class="effect-oscar">

                  <img src="../../../assets/images/home-images/image-2.jpg" alt="" class="img-responsive"/>

                  <figcaption>

                    

                          <h2>Studio Thonik <span>Exhibition</span></h2>

                          <p>Project for Thonik, design studio based in Amsterdam</p>

                          <a href="works-details.html">View more</a>

                      

                  </figcaption>

              </figure>

              </li>        
          

              
              

              
          </ul>

      </section>

      <div class="clearfix"></div>

  </div>

</main>