<footer role="footer">

  <!-- logo -->

      <h1>

          <a href="index.html" title="avana LLC">{{ infoPaginaService.info.titulo }}</a>

      </h1>
      <h1>
          <a href="mailTo{{infoPaginaService.info.email}}"> {{infoPaginaService.info.email}} </a>
      </h1>
  <!-- logo -->

  <!-- nav -->

  <nav role="footer-nav">

    <ul>

        <li><a routerLink="home" title="Work">Work</a></li>

          <li><a routerLink="about" title="About">About</a></li>

          <li><a href="blog.html" title="Blog">Blog</a></li>

          <li><a href="contact.html" title="Contact">Contact</a></li>

      </ul>

  </nav>

  <!-- nav -->

  <ul role="social-icons">

    <li><a target="_blank" [href]="infoPaginaService.info.instagram"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>

      <li><a target="_blank" [href]="infoPaginaService.info.facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>

      <li><a target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

      <li><a target="_blank" href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>

  </ul>

  <p class="copy-right">&copy; {{ anio }}  GIsKipplin.. All rights Resved </p>

</footer>